body{
    background-color: #f5f9fa;
}

footer{
    position: absolute;
    bottom: 5%;
    width: 80%;
}

.top-navabar-extension {
    background-color: #070f3d;
}

.change-password {
    position: relative;
    margin: 2%;
    left: 1%;
    float: left;
    width: 35%;
}

.profile-form-right-border {
    position: relative;
    width: 55%;
    border-right: 1px solid #dcd3d3;
    float: left;
    margin: 1%;
    right: -1%;
}

/*** DropdownMenu ***/
.dropdown-extensiom .dropdown-toggle {
    font-size: 20px;
}

.dropdown-menu-extension {
    display: none;
    position: absolute;
    background-color: #070f3d;
    border: 1px solid #303d87;
    color: whitesmoke;
    top: 50px;
    border-radius: 1px;
    left: -1px;
    min-width: 100px;
}

.dropdown-menu-extension li a {
    position: relative;
}

.dropdown-menu-extension li a {
    color: whitesmoke;
    padding: 10%;
}

.dropdown-menu-extension li a:hover {
    background-color: #69b1f7;
    border-radius: 2px;
}

.dropdown-extensiom:hover .dropdown-menu-extension {
    display: block;
}
/*** DropdownMenu ***/

/*** NotificationBar ***/
#notification {
    background-color: rgba(92, 184, 92, 0.82);
    color: #000000;
    margin-bottom: 0px;
    display: none;
}

#notification span {
    position: relative;
    left: 43%;
    font-size: 20px; 
}

#notification button {
    font-size: 30px; 
}
/*** NotificationBar ***/

